@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/*trên là cỡ chữ kiếm trong gg font*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    scroll-behavior: smooth;
} */

section {
    background: rgb(34, 130, 168);
    min-height: 100vh;

}

section .bannerVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .bannerVideo video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container{
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15vh;
}

.container header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.container header .logo{
    font-weight: 700;
    text-transform: uppercase;
    color:rgb(70, 70, 235);
    font-size: 1.8em;
    text-decoration: none;
}

.container header ul{
    position: relative;
    display: flex;
}

.container header ul li{
    list-style: none;
    margin: 0 20px;
}

.container header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 3px;
    color: #fff;
}

.container header ul li a.active{
    color: rgb(54, 56, 223);
}


#icon{
    cursor: pointer;
}

#navbar {
    font-family: 'Ubuntu' , 'sans-serif';
    transition: all 0.3s ease;
}

#navbar .sticky{
    padding: 15px 0;
    background:rgb(70, 70, 235);
}

#navbar .logo a{
    color: rgb(140, 124, 235);
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

#navbar .logo a span{
    color: rgb(0, 0, 255);
    transition: all 0.3s ease;
}

#navbar .sticky .logo a span{
    color: white;
}

#navbar .menu li{
    list-style: none;
    display: inline-block;
}

#navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

#navbar .menu li a:hover{
    color: rgb(84, 84, 218);
}

#navbar .sticky .menu li a:hover{
    color: white;
}

/*menu btn*/

.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}



.skills{
    position: absolute;
    font-family: 'Poppins' , sans-serif;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu' , sans-serif;
}

section .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 37%;
    width: 460px;
    height: 3px;
    background: rgb(35, 240, 144);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 45%;
    font-size: 20px;
    color: rgb(23, 218, 82);
    padding: 5px;
    background: white;
    transform: translateX(-50);
}






.skills .max-width{
    padding: 0 140px;
    margin: auto;
}

.skills .title{
    padding: 50px;
    color:rgb(97, 210, 255)
}

.skills .title::before{
    content:"";
    position: absolute;
    background :rgb(80, 255, 255);
}

.skills .title::after{
    content: "để xem nào :v";
    color: rgb(45, 178, 211);
}

.skills .skills-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column{
    width: calc(50% - 20px);
    font-size: 18px;
}

.skills .skills-content .left .text{
    color:rgb(97, 210, 255);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    color:rgb(97, 210, 255);
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background: rgb(97, 210, 255);
    color: rgb(16, 75, 153);
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(97, 210, 255);
    transition: all 0.3s ease;
    text-decoration: none;
}

.skills .skills-content .left a:hover{
    color: rgb(97, 210, 255);
    background: none;
}

.skills .skills-content .right .bars{
    color:rgb(97, 210, 255);
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(92, 92, 143);
}

.skills-content .right .html::before{
    width: 70%;
}

.skills-content .right .css::before{
    width: 60%;
}

.skills-content .right .c::before{
    width: 70%;
}

.skills-content .right .js::before{
    width: 50%;
}

.skills-content .right .all::before{
    width: 10%;
}